body {
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    padding: 10px;
    width: 350px;
    color: #000;
    font-family: "FontAwesome", Open Sans, Arial;
  }

.icone {
    width: 100px;
}

.forms-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    
    margin: 50px;
    text-align: center;
     
 }
 
 button {
     margin: 20px;
 }

 .span-olho {
    position:absolute;
    top:8px; right:5px;
    z-index:10;
    border:none;
    background:transparent;
    outline:none;
  }
  
  .submit-line {
    position: relative;
  }
  
  .submit-line input {
    width: 100%;
  }

  .col-6 {    
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h3 {
    text-align: center;
    margin: 10px;
  }