body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone {
    width: 100px;
}

.logo-container {    
    text-align: center;
    margin-top: 20%;
    color: gray;    
}

.logo-container img {
    width: 70%;
}

.botao-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-container a {
    margin: 50px;
}

.vantagens-container {
    display: flex;
    justify-content: center;
}