body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone {
    width: 100px;
}

.forms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

button {
    margin: 5px;
}