.formTurma {
    margin: 8px;
    width: 250px;    
}

#diasAulas, #local {
    margin: 10px;
    width: 250px;    
}

#btn-form-turma {
    margin: 10px;
}

#titulo-form-turma{
    margin: 10px;
    color: red;
}

.main div {
    justify-content: left;
    align-items: center;
}

label {
    margin-left: 10px;
}

.form-check{
    margin-left: 30px;
}

div .col-12{
    margin: 500px;
    padding: 50px;
}